body {
  font-family: "SUSE", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    circle farthest-corner at top left,
    rgba(80, 12, 139, 0.87) 0%,
    rgba(161, 10, 144, 0.72) 83.6%
  );
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  min-height: 100vh;
}

.content-wrapper {
  max-width: 50vw;
  background-color: #ffffff80;
  box-shadow: 0px 0px 7px 10px #ffffff80;
  border-radius: 10px;
  padding: 0 5px;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.paragraph {
  margin-bottom: 20px;
  font-weight: 900;
}

.question {
  color: #931569;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .content-wrapper {
    max-width: 80vw;
  }
}
